//layaout.jade
extends layaout
block content
	section
		.container.top
			.row
				.col-md-12
					h2 Administracion de Usuario
					a.btn.btn-primary.pull-right.glyphicon.glyphicon-plus(href="#" type='button', data-toggle='modal', data-target='#myModal')
			br
			.row
				.col-md-12
					table.table.table-hover
						thead
							tr
								th Avatar
								th Nombre
								th Username
								th Password
								th Correo
								th Fecha
								th Acciones
						tbody
							each item in user 
								tr
									td
										img.thumbnail(src="#{item.urlImage}")
									td= item.nombre
									td= item.username
									td= item.password	
									td= item.correo
									td= item.date
									td
										a.btn.btn-success(href="/admin/app/user/#{item._id}") 
											span.glyphicon.glyphicon-edit										
										form.form-inline.delete(method="post", action="/admin/app/user/#{item._id}?_method=delete" enctype="multipart/form-data")
											input(type="hidden", name="_method", value="delete")
											a.btn.btn-danger(href="javascript:void(0);", onclick="if(confirm('¿Está seguro que desea eliminar este registro?')){this.parentNode.submit();}")
												span.glyphicon.glyphicon-remove

				// Modal
				#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
								h4#myModalLabel.modal-title Nuevo Usuario
							form(action="/admin/app/user" method="post" enctype="multipart/form-data")
								.modal-body
									input(type="text" name="nombre" placeholder="Nombre Completo" class="form-control")
									br
									input(type="text" name="username" placeholder="Nombre de usuario" class="form-control")
									br
									input(type="password" name="password" placeholder="Password" class="form-control")
									br
									input(type="email" name="correo" placeholder="Correo electronico" class="form-control")
									br
									input(type="file" name="fileImage" class="form-control")
								.modal-footer
									input(type="submit" value="Crear" name="create" class="btn btn-primary btn-login btn-lg")



